@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

:root {
  --burnt-sienna: hsla(12, 63%, 60%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --fawn: hsla(30, 75%, 65%, 1);
  --sandy-brown: hsla(30, 98%, 63%, 1);
  --navajo-white: hsla(35, 94%, 86%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: 0.1s ease-in;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--navajo-white);
  font-family: 'Prompt', sans-serif;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main,
header,
#menu-header {
  padding: 0px 180px;
}

main,
header {
  margin: 45px 0;
}

header ul li,
main button,
.headline p {
  font-weight: 500;
  font-size: 20px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  list-style: none;
  padding-top: 10px;
  gap: 30px;
}

header ul li:hover {
  color: var(--sandy-brown);
}

header .active-page {
  border: 1.8px solid var(--sandy-brown);
}

header img {
  max-width: 70px;
  border: 5px dashed var(--burnt-sienna);
  border-radius: 20px;
  padding: 10px;
}

header img:hover,
.menu-item img:hover {
  border-color: var(--sandy-brown);
}

/* main */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text > h1:first-child,
.headline h1:nth-child(2),
#menu-header,
#contact-header {
  color: var(--burnt-sienna);
}

.text > h1:first-child {
  font-size: 70px;
}

.line {
  width: 200px;
  height: 4px;
  background-color: #000;
}

.line,
.headline p {
  margin: 20px 0;
}

.headline h1 {
  font-size: 60px;
  line-height: 1;
}

.headline p {
  max-width: 780px;
  text-align: justify;
  line-height: 1.5;
}

main button {
  font-weight: bold;
  color: white;
  background-color: var(--burnt-sienna);
  font-family: inherit;
  padding: 10px 35px;
  border: 0;
  border-radius: 30px;
}

main button:hover {
  background-color: var(--sandy-brown);
}

/* MENUPAGE */

#menu-header,
#contact-header {
  line-height: 0.8;
  font-size: 2em;
}

main#menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 15px 50px;
  justify-content: center;
  margin-top: 10px;
}

.menu-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);

  align-items: center;
}

.menu-item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 0px 0px;
}

.menu-item img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 20px;
  border: 4px dashed var(--burnt-sienna);

  object-fit: cover;
}

.menu-item .name {
  font-size: 20px;
}

.menu-item .price {
  margin-top: 3px;
  font-size: 18px;
}

/* CONTACT */
#contact {
  margin-left: 50px;
  display: grid;
  gap: 1rem 50px;
  grid-template-columns: 1fr 1fr;
}

#contact-header {
  grid-column: span 2;
}

form {
  grid-row: span 2;
  border: 1.5px solid var(--black);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  color: var(--sandy-brown);
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
  margin: 10px;
}

form button {
  margin-top: 50px;
  font-size: 20px;
}

*:focus-visible {
  outline: none;
}

.contact-details h2 {
  font-size: 2rem;
}

.contact-details p {
  font-size: 20px;
}

.social-media img {
  padding: 10px;
  border-radius: 15px;
  max-height: 45px;
}

.social-media img:hover {
  background-color: var(--sandy-brown);
}

.social-media {
  display: flex;
  align-self: flex-end;
  padding-bottom: 15px;
  gap: 15px;
}

/* footer */
footer {
  font-size: 15px;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding-bottom: 2%;
}

footer a {
  font-weight: 500;
  text-decoration: none;
  color: var(--burnt-sienna);
}

footer a:hover {
  color: var(--sandy-brown);
}

@media (max-width: 1100px) {
  /* home */
  .home-img {
    position: fixed;
    z-index: -1;
    left: 60%;
    opacity: 0.7;
  }
}

@media (max-width: 760px) {
  /* home */
  main,
  header,
  #menu-header {
    margin: 0;
    padding: 20px 15px;
  }

  header img {
    max-width: 60px;
  }

  header ul li,
  main button,
  .headline p {
    font-weight: 500;
    font-size: 16px;
  }

  main {
    justify-content: center;
  }

  .home-img {
    opacity: 0.3;
  }

  footer {
    font-size: 11px;
  }

  footer a {
    color: inherit;
  }

  main#menu {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: -30px;
  }

  p.desc {
    font-size: 13px;
  }

  #contact {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #contact h1 {
    line-height: 1;
  }

  .contact-details {
    text-align: center;
  }

  div.social-media {
    align-self: center;
  }
}
